body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
h1 {
	text-transform: uppercase;
}

.email img {
    max-width: 250px;
}

.idTabs ul a:hover {
	-moz-transition:.3s linear;
    -webkit-transition:.3s linear;
}
